%p
  Online social Wagering Web site allows to to make bets on the content of web pages.
  Some example may be:
  %ul
    %li Celebrity news (I bet that news.com will have something about Britney Spears).
    %li Politics (I bet that first page of google search for 'Debt' will contain 'Obama').
    %li Microblogging (I bet the there will be tweets about Melbourne in the @best-city tag).
    %li and so on... only the sky is the limit.
  
