- caption 'Rules'
%p
  The basics are:
  %ul
    %li Any user can start a new bet
    %li Any user can take or suppoer other bets (participate)
    %li There is only one winner
    %li
      The winner takes all the points from the opposite group.
      So if you took the bet and won, you get all the points from all supporters.
      If you supported the bet and won, you get all the points from all takers.
    %li The winner is the person who has the highest bid and guesses the result correctly.
    %li All other people who guess the result correctly get all of the points back.

